streamlit
sentence-transformers
python-dotenv
langchain
langchain-community
chromadb
langchain-chroma
pypdf
requests
numpy
google-api-core>=2.15.0
google-api-python-client>=2.111.0
google-auth>=2.25.2
google-auth-httplib2>=0.1.1
google-auth-oauthlib>=1.1.0
google-cloud-core>=2.4.1
googleapis-common-protos>=1.62.0
google-generativeai>=0.3.0
agno[google]>=0.3.0
protobuf>=4.25.1
grpcio>=1.59.3
